* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

.game-container {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.memory-game {
  width: 400px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid lime; */
  perspective: 1000px;
  background-color: #e6e6e6;
}

.memory-card {
  width: 40%;
  height: 25%;
  margin: 5%;
  position: relative;
  /* border: 2px solid aqua; */
  transform: rotateY(0deg);
  transition: transform 0.5s;
  transform-style: preserve-3d;

  transition: visibility 0.5s;

  border-radius: 4%;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 2%;
  position: absolute;
  /* border: 2px solid deeppink; */
  backface-visibility: hidden;
  border-radius: 10%;
}

.front-face {
  transform: rotateY(180deg);
  background: pink;
}

img {
  width: 100px;
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css?family=Kalam|Philosopher&display=swap");

.message {
  color: rgb(253, 115, 51);
  text-align: center;
  font-family: "Philosopher", sans-serif;
  font-size: 40px;
  margin: 3%;
}
