/* .flip-card-container {
  width: 300px;
  height: 300px;
   border: 1px solid #f1f1f1; 
  padding: 50px;
}

.flip-card-back {
  background-color: #bbb;
  color: black;
}

.flip-card-front {
  background-color: dodgerblue;
  width: 300px;
  height: 300px;
  color: white;
}

.image {
  width: 300px;
  height: 300px;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-container {
  height: 70vh;
  width: 100%;
  display: flex;
}

.memory-game {
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid lime; */
  perspective: 1000px;
  background-color: #e6e6e6;
}

.memory-card {
  width: 40%;
  height: 40%;
  margin: 5%;
  position: relative;
  /* border: 2px solid aqua; */
  transform: rotateY(0deg);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 2%;
  position: absolute;
  border-radius: 5px;
  /* border: 2px solid deeppink; */
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  background: pink;
}

img {
  width: 100px;
}
