/* .form {
  margin: 1%;
  display: flex;
}

.inputfield {
  margin: 2% 0%;
}

input {
  padding: 2%;
}

.button {
  margin: 2%;
  background-color: rgb(127, 186, 221);
  border: none;
  font-size: 12px;
  padding: 0% 1%;
} */

.label {
  margin: 0% 2%;
}
